# Enable wake-up for USB 2.0 and 3.0 root hubs
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1d6b", ATTR{idProduct}=="0002", ATTR{power/wakeup}="enabled"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1d6b", ATTR{idProduct}=="0003", ATTR{power/wakeup}="enabled"
